<nav
  class="relative flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-indigo-500 mb-3"
>
  <div
    class="container px-4 mx-auto flex flex-wrap items-center justify-between"
  >
    <div
      class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
    >
      <a
        class="text-lg font-bold leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap uppercase text-white"
        href="/"
      >
        Bored Games
      </a>
    </div>
    <div class="lg:flex flex-grow items-center">
      <ul class="flex flex-col lg:flex-row list-none mr-auto">
        <li class="nav-item">
          <a
            class="px-3 py-2 flex items-center text-sm font-bold leading-snug text-white hover:opacity-75 <%= path === '/products' ? 'active:opacity-75' : '' %>"
            href="/products"
          >
            Products
          </a>
        </li>
        <% if (isAuthenticated) { %>
        <li class="nav-item">
          <a
            class="px-3 py-2 flex items-center text-sm font-bold leading-snug text-white hover:opacity-75 <%= path === '/cart' ? 'active:opacity-75' : '' %>"
            href="/cart"
          >
            Cart
          </a>
        </li>
        <li class="nav-item">
          <a
            class="px-3 py-2 flex items-center text-sm font-bold leading-snug text-white hover:opacity-75 <%= path === '/orders' ? 'active:opacity-75' : '' %>"
            href="/orders"
          >
            Orders
          </a>
        </li>

        <li class="nav-item">
          <a
            class="px-3 py-2 flex items-center text-sm font-bold leading-snug text-white hover:opacity-75 <%= path === '/admin/products' ? 'active:opacity-75' : '' %>"
            href="/admin/products"
          >
            Admin Products
          </a>
        </li>
        <li class="nav-item">
          <a
            class="px-3 py-2 flex items-center text-sm font-bold leading-snug text-white hover:opacity-75 <%= path === '/admin/add-product' ? 'active:opacity-75' : '' %>"
            href="/admin/add-product"
          >
            Add Products
          </a>
        </li>
        <% } %>
      </ul>
    </div>
    <div class="lg:flex flex-grow items-center">
      <ul class="flex flex-col lg:flex-row list-none ml-auto">
        <% if (!isAuthenticated) { %>
        <li class="nav-item">
          <a
            class="px-3 py-2 flex items-center text-sm font-bold leading-snug text-white hover:opacity-75 <%= path === '/login' ? 'active:opacity-75' : '' %>"
            href="/login"
          >
            Login
          </a>
        </li>
        <li class="nav-item">
          <a
            class="px-3 py-2 flex items-center text-sm font-bold leading-snug text-white hover:opacity-75 <%= path === '/signup' ? 'active:opacity-75' : '' %>"
            href="/signup"
          >
            Signup
          </a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <form action="/logout" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button
              class="px-3 py-2 flex items-center text-sm font-bold leading-snug text-white hover:opacity-75 focus:outline-none <%= path === '/logout' ? 'active:opacity-75' : '' %>"
            >
              Logout
            </button>
          </form>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
